{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listings</h2>
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <p>Title:</p>
        <input name="title" type="text"><br><hr>
        <p>Description:</p>
        <textarea name="description" placeholder="Description"></textarea><br><hr>
        <p>Starting Bid:</p>
        <input name="bid" type="number"><br><hr>
        <p>Image URL:</p>
        <input name="image" type="url"><br><hr>
        <p>Category:</p>
        <select name="category" class="form-select" aria-label="Default select example">
            <option selected>Select a category</option>
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select><br><br>
        <input type="submit">
    </form>
{% endblock %}