{% extends "network/layout.html" %}

{% block body %}
    <h1>All Posts</h1>
    {% if user.is_authenticated %}
        <div class="card">
            <div class="card-body">
                <h3>New Post</h3>
                <form action="{% url 'newPost' %}" method="post">
                    {% csrf_token %}
                    <textarea class="form-control" style="height: 100px" name="newPost"></textarea><br>
                    <button class="btn btn-primary" type="submit">Post</button>
                </form>
            </div>
        </div>
    {% endif %}
    <div class="card">
        {% for post in posts %}
            <div class="card-body">
                <h5>{{ post.author }}</h5>
                <blockquote class="blockquote mb-0">
                    <p>{{ post.post }}</p>
                    <footer class="blockquote-footer"> On {{ post.date }}</footer>
                </blockquote>
                <p>Likes: 0</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}